doctype strict
div(id="selfDefine")
	table
		tr
			th
				p(class="header")
		tr
			td
				table
					tr
						td
							p(class="description") Please input the value
						td
							input(type="text" value="")
		tr
			td
				button(class="bt") Submit