doctype strict
div(id="title", class="panel")
  p Detail of test case
div(id="function_bar", class="panel")
  table
    tr
      td
        p Test case
        select(name="select_test_case")
          option(value="case01") Test case: "make sure wap push in mozSettings exists."
          option(value="case02") Test case: "slide calendar."
          option(value="case03") Test case: "case 03."
      td
        p Date
        select(name="select_date")
          option(value="3") Within 3 days
          option(value="5") Within 5 days
          option(value="7") Within 1 week
          option(value="30") Within 1 month
      td(id="tb_last")
      td(class="tb_last")
        button(id="bt_help", class="bt")
          img(src="/images/bt_help.png", alt="botton help")
div(id="info_box", class="panel")
  div(id="info_box_in_detail", class="bg")
    table
      tr
        td(class="header")
          p Line chart
      tr
        td(class="chart_table")
      tr
        td(class="header")
          p Job list history
      tr
        td
          table(class="tb_header")
            tr(class="tb_header")
              th(class="tb_header")
                p
                  span Status
                  img(src="/images/arrow_down.png", alt="sort")
              th(class="tb_header")
                p
                  span Build
                  img(src="images/arrow_down.png", alt="sort")
              th(class="tb_header")
                p
                  span Message
                  img(src="/images/arrow_down.png", alt="sort")
              th(class="tb_header")
                p
                  span Commit
                  img(src="/images/arrow_down.png", alt="sort")
              th(class="tb_header")
                p
                  span Committer
                  img(src="/images/arrow_down.png", alt="sort")
              th(class="tb_header")
                p
                  span Duration
                  img(src="/images/arrow_down.png", alt="sort")
              th(class="tb_header")
                p
                  span Finished
                  img(src="/images/arrow_down.png", alt="sort")
            tr(class="tb_info_bar")
              td(class="tb_info_bar_status")
                p Passed
              td(class="tb_info_bar_build")
                p 114
              td(class="tb_info_bar_message")
                p Merge pull request #89 from fdelapena/master
              td(class="tb_info_bar_commit")
                p 42e2691 (master)
              td(class="tb_info_bar_committer")
                p Francisco de la Peña
              td(class="tb_info_bar_duration")
                p 7 min 3 sec
              td(class="tb_info_bar_finished")
                p 6 minutes ago