doctype strict
div(id="title", class="panel")
  p Detail of test case
div(id="function_bar", class="panel")
  table
    tr
      td
        p Test case
        select(name="select_test_case")
          option(value="case01") Test case: "make sure wap push in mozSettings exists."
          option(value="case02") Test case: "slide calendar."
          option(value="case03") Test case: "case 03."
      td
        p Date
        select(name="select_date")
          option(value="3") Within 3 days
          option(value="5") Within 5 days
          option(value="7") Within 1 week
          option(value="30") Within 1 month
      td(id="tb_last")
      td(class="tb_last")
        button(id="bt_help", class="bt")
          img(src="/images/bt_help.png", alt="botton help")
div(id="info_box", class="panel")
  div(id="info_box_in_detail", class="bg")
    table
      tr
        td(class="header")
          p Line chart
      tr
        td(class="chart_table")
          canvas(class="chart_table" width="500em" height="500em")
      tr
        td(class="header")
          p History
      tr
        td
          table(class="tb_header")
            tr(class="tb_header")
              th(axis="date", class="tb_header")
                span Date
                img(class="img_sort up", src="images/arrow_up.png", alt="sort")
                img(class="img_sort down", src="images/arrow_down.png", alt="sort")
              th(axis="error", class="tb_header")
                span Error count
                img(class="img_sort up", src="images/arrow_up.png", alt="sort")
                img(class="img_sort down", src="images/arrow_down.png", alt="sort")
              th(class="tb_last")
            tr(class="tb_info_bar")
              td(class="tb_info_bar_status")
                p Date1
              td(class="tb_info_bar_build")
                p 100