doctype strict
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=big-5")
    meta(name="Author", content="Tzu-chao, Wang")
    meta(name="Generator", content="Sublime Text 2")
    title= title
    link(rel="stylesheet", type="text/css", href="/stylesheets/index.css")
    link(rel="stylesheet", type="text/css", href="/stylesheets/base.css")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(type="text/javascript", src="/javascripts/require.js", data-main="/javascripts/index.js")
  body
    div(id="container", class="container")
      div(id="title", class="panel")
        p Travis Reporter
      div(id="function_bar", class="panel")
        table
          tr
            td
              button(id="bt_home", class="bt")
                img(src="images/bt_home.png")
            td
              button(id="bt_help", class="bt")
                img(src="images/bt_help.png")
            td(class="tb_last")
      div(id="search_bar", class="panel")
        table
          tr
            td
              img(id="img_magnifier", src="images/magnifier.png", alt="magnifier image")
            td(id="td_search")
               input(id="search", type="text", name="search" value="")
            td
              button(id="bt_search", class="bt") Search
      div(id="search_tool_bar", class="panel")
        table
          tr
            td
              p Search tool
            td
              table
                tr
                  td
                    p Error count
                    select(name="error")
                      option(value="null") None
                      option(value="100") &gt;= 100 times
                      option(value="200") &gt;= 200 times
                      option(value="500") &gt;= 500 times
                      option(value="1000") &gt;= 1000 times
                      option(value="error_define") Self define...
            td
              table
                tr
                  td
                    p Date range
                    select(name="date")
                      option(value="null") None
                      option(value="1") Today
                      option(value="3") &lt;= 3 days
                      option(value="7") &lt;= 1 week
                      option(value="21") &lt;= 3 weeks
                      option(value="30") &lt;= 1 month
                      option(value="date_define") Self define...
            td
              table
                tr
                  td
                    p Display count
                    select(name="count")
                      option(value="null") None
                      option(value="5") &lt;= 5
                      option(value="10") &lt;= 10
                      option(value="20") &lt;= 20
                      option(value="50") &lt;= 50
                      option(value="display_define") Self define...
            td(class="tb_last")
      div(id="info_box", class="panel")
        div(id="info_box_tab")
          span
            p(id="tab0" class="tab") Home page
        div(id="info_box_in", class="bg")
          div(id="display0" class="display")
            table(class="tb_header")
              tr(class="tb_header")
                th(axis="name", class="tb_header")
                  span Name
                  img(class="img_sort up", src="images/arrow_up.png", alt="sort")
                  img(class="img_sort down", src="images/arrow_down.png", alt="sort")
                th(axis="date", class="tb_header")
                  span Date
                  img(class="img_sort up", src="images/arrow_up.png", alt="sort")
                  img(class="img_sort down", src="images/arrow_down.png", alt="sort")
                th(axis="error", class="tb_header")
                  span Error count
                  img(class="img_sort up", src="images/arrow_up.png", alt="sort")
                  img(class="img_sort down", src="images/arrow_down.png", alt="sort")
                th(class="tb_last")