html {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 1em;
    background-color: BLACK;
}

p {
	padding: 0em;
	margin: 0em;	
}

span {
    display: inline-block;
    vertical-align: middle;
}

input {
    position: relative;
    width: 100%;
	font-size: 2em;
    box-sizing: border-box;
}

table {
	position: relative;
	width: 100%;
	overflow: scroll;
	word-break: break-all;
	white-space: nowrap;

}

td {
	padding-left: 0.5em;
    padding-right: 0.5em;
	vertical-align: middle;
	text-align: left;
}

hr {
    position: relative;
    margin-left: 1em;
    margin-right: 1em;
    border: 0em;
    height: thin;
    background-color: #C7C7C7;
}

button {
    overflow: hidden;
    border: solid;
    border-radius: 0.3em;
    border-width: thin;
    color: BLACK;
    border-color: #A6A6A6;
    padding-top: 0.3em;
    font-size: 1.5em;
    font-weight: bold;
}

.bt {
    background: linear-gradient(#EAEAE7, #C7C7C7);
}

.container {
    position: absolute;
    left: 50%;
    margin-left: -48%;
    width: 96%;
    background-color: #E7E7E7;
}

.element {
    margin-left: 1%;
    margin-right: 1%;
}

.bg {
    border: solid;
    border-width: thin;
    border-color: #A6A6A6;
    background: linear-gradient(#C7C7C7, #E7E7E7, #C7C7C7);
}

.panel {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    position: relative;
}

.sorting_header {
    position: relative;
    border: solid;
    border-color: #C7C7C7;
    
}

.label {
    border: solid;
    border-color: #C7C7C7;
    
    margin-top: -3px;
    margin-bottom: -3px;
    margin-right: -0.3em;
    margin-left: -3px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1%;
    padding-right: 1%;
}

.bt_hover {
	background: linear-gradient(white, #C7C7C7);	
    cursor: pointer;
}

.bt_pressed {
	background: linear-gradient(#C7C7C7, #E7E7E7);
}

.display {
    position: relative;
}

.img_sort {
    display: none;
}

table.tb_header {
	border: none;
	position: relative;
	width: 100%;
	padding: 0em;
	margin: 0em;
	border-collapse: collapse;
}

th.tb_header, td.tb_header{
    margin: 0em;
	padding-left: 0.5em;
	padding-right: 0.5em;
    padding-top: 0.2em;
    vertical-align: middle;
    text-align: left;
}

th {
    border: solid;
    border-width: thin;
    border-color: #A6A6A6;
    background: linear-gradient(#EAEAE7, #C7C7C7);
}

th.tb_header img {
    display: none;
}

#title {
    color: WHITE;
    font-weight: bold;
    padding: 0.5em;
    background: linear-gradient(#FF4E00, #CD6723);
}

#lockScreen {
    position: absolute;
    display: none;
    top: 0em;
    left: 0em;
    width: 100%;
    height: 100%;
    margin: 0em;
    padding: 0em;
    background-color: rgba(0, 0, 0, 0.5);
}

#selfDefine {
    position: absolute;
    display: none;
    padding: 0.2em;
    top: 20%;
    left: 50%;
    width: 20em;
    margin-left: -10em;
    background-color: #EAEAE7;
}

#selfDefine th, #selfDefine td {
    text-align: center;
}

.tb_last {
	width: 100%;
	text-align: right;
}

#td_last {
	width: 100%;
	text-align: right;
}

div#info_box_tab {
    margin-bottom: -0.2em;
}

div#info_box_tab span p {
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.5em;
    border: solid;
    border-radius: 0.5em;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
    border-color: #C7C7C7;
}

.header {
    padding: 0.2em;
    background-color: #F4A460;
}

td.chart_table {
    text-align: center;
}